@import "tailwindcss";

html {
  scroll-behavior: smooth !important;
}

@theme {
  --color-primary: oklch(74.6% 0.16 232.661);
  --color-primaryDark: oklch(58.8% 0.158 241.966);
  --color-background: #282828;
  --color-surface: #333333;
  --color-secondary: oklch(87.2% 0.01 258.338);
}

body {
  background-color: #282828;
}
button {
  cursor: pointer !important;
}
